@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
    margin-right: -41px !important;
    margin-left: 80px !important;
}

@media screen and (max-width: 768px) {
    .swiper-slide {
        margin-right: 10px !important;
        margin-left: auto !important;
    } 

}